.idea/
Library/
Logs/
obj/
Packages/
ProjectSettings/
UserSettings/
*.csproj
*.meta
*.mat
*.sln
*.asset
FothCustomSRP.sln.DotSettings.user
Assets/TextMesh Pro
Assets/DefaultVolumeProfile.asset
Assets/UniversalRenderPipelineGlobalSettings.asset
Temp/